Question 1

In [6]:
x= (1,2,3,"sama", "amit")
z= list(x)
x= z.insert(0,"pyhton")
print(z)

['pyhton', 1, 2, 3, 'sama', 'amit']

Question 2

In [7]:
x= [1,2,3,4,5]
z= sum(x)
print(z)

15

Question 3

In [10]:
numbers = [1,2,2,3,4]
product = 1

for num in numbers:
    product *= num

print("Product:", product)

Product: 48

Question 4

In [12]:
numbers = [1,2,34,5,66,778,0,-1]
smallest = min(numbers)

print("The smallest number is:", smallest)

The smallest number is: -1

Question 5

In [14]:
numbers = [1,2,34,5,66,778,0,-1]
biggest = max(numbers)

print("The biggest number is:", biggest)

The biggest number is: 778

Question 6

In [16]:
def count_strings(string_list):
    count = 0
    for item in string_list:
        if isinstance(item, str):
            count += 1
    return count


example_list = ["hello", "world", "python",  "programming", True]


string_count = count_strings(example_list)

print("The number of strings in the list is:", string_count)

The number of strings in the list is: 4

Question 7

In [19]:
original = [1, 2, 3, 4, 5,6,7,8,9]

cloned = original.copy()

print("Original List:", original)
print("Cloned List:", cloned)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Cloned List: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Question 8

In [20]:
x= [1,2,3,4,"sama"]
z= x.remove("sama")
print(x)

[1, 2, 3, 4]

Question 9

In [24]:

set1 = {4,5,6,7,8,9}
set2 = {8,9}

subset = set2 <= set1


print("set2 is a subset of set1?", subset)

Is set2 a subset of set1? False

Question 10

In [31]:
x= {1,2,3,4,"sama",False}
x.clear()
print(x)

set()

Question 11

In [41]:
x= {0,1,2,3,4,5,6,7,8,9}
y=list(x)
z=max(y)
f=min(y)
print("max number is :" ,z)
print("min number is :", f)

max number is : 9
min number is : 0

Question 12

In [42]:
x= (1,2,3,4,"sama", "amit")
x.index("sama")

4

Questio 13

In [47]:
x= (("a", "1"), ("b", "3"), ("C", "6"))
y= dict(x)
print("Dictionary :", y)

Dictionary : {'a': '1', 'b': '3', 'C': '6'}

Question 14

In [48]:
tuples= ((1,2,3),(4,5,6))
x=list(tuples)
print(x)

[(1, 2, 3), (4, 5, 6)]

Question 15

In [54]:
x= (1,2,3,4,"amit")
y=list(x)
y.reverse()
print(y)

['amit', 4, 3, 2, 1]

Question 16

In [55]:
x=(("a","23"),("b","333"),("v","66"))
z=dict(x)
print(z)

{'a': '23', 'b': '333', 'v': '66'}

Question 17

In [73]:

x = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
z = 100
new = [(a, b, z) for a, b, _ in x]
print("Modified Tuples:", new)

Modified Tuples: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

Question 18

In [80]:
x= (2,8,3), (2,1,3,6,4,5)
y=list(x)
z= y.sort()
print(x)

((2, 8, 3), (2, 1, 3, 6, 4, 5))